.about-container {
  text-align: center;
  padding: 30px;
  height: 90vh;
}
.about-desc {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
