.contact-container {
  padding: 30px;
  height: 90vh;
  text-align: center;
  background: #5f4431;
  color: white;
}

.contact-lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contact-list {
  padding: 10px;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contactlist-item {
  height: 33%;
}

.contact-list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-list-item img {
  width: 90px;
  height: 90px;
}
