.greet {
  padding: 30px;
  height: 100vh;
  display: flex;

  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgb(245, 241, 0), rgb(165, 165, 1));
  color: white;
  flex-direction: column;
}
.greet-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.greet-title {
  font-size: 90px;
  font-family: "Open Sans", sans-serif;
}
